body {
  /**padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;**/
  background-color: #dfdfdf !important
}

a {
  color: #00B7FF;
}

.template {
    display: none;
}

#banner-ad-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100% !important;
  height: auto !important;
  min-height: 50px !important;
  max-height: 120px !important;
  border-style: solid;
  border-color: #ccc;
  border-width: 2px;
  padding: 2px 4px;
  text-decoration: none;
  position: relative;
}
#banner-ad-banner::before {
  content: 'advertisement';
  background-color: #dfdfdf;
  padding: 2px;
  position: absolute;
  left: 0;
  top: -14px;
  right: 0;
  margin: 0 auto;
  display: inline-block;
  width: 140px;
  text-align: center;
}